# Cấu hình GoPhish
GOPHISH_API_URL=https://127.0.0.1:3333/api/campaigns/
GOPHISH_API_KEY=YOUR_GOPHISH_API_KEY_HERE

# Cấu hình Evilginx
EVILGINX_DB_PATH=/root/.evilginx/data.db

# Cấu hình C2 Server
C2_SERVER_URL=http://YOUR_C2_SERVER_IP:1234

# Cấu hình Payload
PAYLOAD_URL=http://YOUR_PAYLOAD_SERVER_IP:PORT/payload.txt
